# Python
__pycache__/
*.py[cod]
*$py.class
*.spec
build/
.venv/
env/
venv/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Backups
backups/backup_before_*
